<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name" /><br>
    <input type="number" name="capacity" min="10" max="50" /><br>
    <label>Is projector available?
        <input type="checkbox" name="projector">
    </label><br>
    <input type="text" name="other_features" placeholder="Other features" /><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>